@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

// Color Primary
$PaleBlue: hsl(225, 100%, 94%);
$BrightBlue: hsl(245, 75%, 52%);

// Color Neutral
$VeryPaleBlue: hsl(225, 100%, 98%);
$DesaturatedBlue: hsl(224, 23%, 55%);
$DarkBlue: hsl(223, 47%, 23%);

// Font
$fontSize: 16px;
$fontWeightNormal: 500;
$fontWeightBold: 700;
$fontWeightVeryBold: 900;
$fontFamily: 'Red Hat Display', sans-serif;
